
# TestResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**buildStageFk** | **Long** |  |  [optional]
**error** | **Integer** |  |  [optional]
**failure** | **Integer** |  |  [optional]
**hasSkip** | **Boolean** |  |  [optional]
**isSuccess** | **Boolean** |  |  [optional]
**skipped** | **Integer** |  |  [optional]
**testResultCreated** | [**DateTime**](DateTime.md) |  |  [optional]
**testResultId** | **Long** |  |  [optional]
**testSuites** | [**List&lt;TestSuite&gt;**](TestSuite.md) |  |  [optional]
**tests** | **Integer** |  |  [optional]
**time** | [**BigDecimal**](BigDecimal.md) |  |  [optional]



