.idea
.gradle
/build/**
/out/**
/target/**
*.iml
*.db

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


**/build/
**/out/
**/target/

**/build/**
**/out/**
**/out/**/**
**/target/**

.DS_Store
.java-version
.amazonq
collaboration_progress.md
.planning/phases
.planning/research
.planning/*.json
.planning/*.md
.kiro/
.kiro
tmp.log
/.planning/phases/
/.planning/config.json
/.planning/PROJECT.md
/.planning/REQUIREMENTS.md
/.planning/ROADMAP.md
/.planning/STATE.md
/cucumber-json
