<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>target/target.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"> <!-- set to info to reduce logs dramatically -->
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
<!--        <appender-ref ref="async"/>-->
    </root>

    <logger name="org.jooq.tools.LoggerListener" level="DEBUG"/>

    <!-- Other jOOQ related debug log output -->
    <logger name="org.jooq" level="DEBUG"/>
    <logger name="software.amazon.awssdk.profiles.internal" level="ERROR"/>


</configuration>