a {
    white-space: nowrap;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

dd {
    display: inline-block;
    width: 50%;
    margin: 0;
    text-align: left;
}

dl {
    border: 2px groove #eee;
    width: 50%;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
}

dt {
    display: inline-block;
    width: 50%;
    margin: 0;
    float: left;
    font-weight: bold;
    text-align: left;
}

/*noinspection CssReplaceWithShorthandSafely,CssRedundantUnit*/
fieldset {
    border: 2px groove #ccc;
    border-radius: 8px;

    margin-top: 4px;
    margin-right: 3px;
    margin-bottom: 4px;
    margin-left: 6px;

    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 4px;

    display: inline-block;
    max-width: max-content;
    font-size: 10pt;
}

.dashboard-columns {
    column-width: 370px;
    column-gap: 1px;
    column-fill: balance;
    break-inside: avoid;

}

.repo-fieldset {
    margin-left: 8px;
    margin-bottom: 16px;
}

.repo-legend {
    font-size: 12pt;
    font-family: Courier, serif;
    font-weight: bolder;
}

.branch-fieldset {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.job-fieldset {
    margin-top: 6px;
    margin-bottom: 14px;
    margin-right: 6px;
}

.run-fieldset {
    margin-right: 4px;
}

legend {
    padding: 0px 2px 0px 2px;
    margin: 0px;
    margin-left: 4px;
    margin-right: 2px;
    font-weight: bold;
}

details {
    margin-left: 8px;
    margin-right: 8px;
}

legend > a {
    font-weight: normal;
}

object {
    display: inline-block;
}

table,
td,
th,
tr {
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    width: max-content;
}

table,
td,
th {
    border: 1px solid #eee;
    padding: 2px;
    width: max-content;
}

th {
    text-align: center;
}

th:after {
    content: ":"
}

.fieldset-group {
    display: block;
    break-inside: avoid;
    width: max-content;

}

.job-info {
    font-size: .8em;
}

.last-success {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: .8em;
    padding-left: 8px;
    color: #393;
    padding-top: 2px;
}

div.org-legend {
    border: 4px solid #aaa;
    padding: 6px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.table-wrapper {
    border: 2px groove #eee;
    border-radius: 4px;
    width: max-content;
    margin: 0px;
    padding: 0px;
}