body {
    font: 1em Calibri, sans-serif;
}
table tr td {
    vertical-align: top;
}

a.run-link {
    color: white;
}

table {
    margin-left: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px grey;
}

details {
    display: inline-block;
    text-align:top;
}

.page-context-summary {
    padding-left: 20px;
}

.test-count-summary {
    padding-left: 20px;
}


.page-context {
    width: auto;
    /*display:block;*/
}

.dd-page-context {

}

.dt-page-context {
    width: 90px;
}

.dd-test-count {

}

.dt-test-count {
    width: 90px;
}

.test-page-context {
    padding-left:20px;
    padding-top:20px;
}

.test-count-context {
    padding-left:20px;
    padding-top:20px;
}

.pass-percent {
    font-size: .9em;
}

.fail-messages {
    font-weight: normal;
}

.test-row-header {
    font-size: .7em;
}


.job-info {
    font-style: italic;
}

.job-info-term {
    font-weight: bold;
}

.test-row {
    font-size: .8em;
}

.fail-since {
    font-size: 1em;
}


label {
    display: inline-block;
    text-align: right;
    width: 110px;
    font-weight: bold;
    font-size: .9em;
}