th {
    text-align: center !important;
    vertical-align: bottom !important;
    margin: 0 !important;
    padding: 7px !important;
}

th, td {
    border: 1px #333 solid;
    border-radius: 0 !important;
}

td, tr {
    text-align: center !important;
    margin: 0 !important;
    padding: 2px !important;
    border-radius: 0 !important;
}

fieldset {
    display: inline-block;
    padding: 20px;
}

legend {
    padding: 5px;
}

li {
    padding: 4px;
}

.shortcuts-fieldset {
    padding: 10px 10px 10px 20px;
}

.dto-header {
    background-color: #355 !important;
}

.run-header {
    background-color: #533 !important;
    border: 2px #a77 solid !important;
}

.test-header {
    background-color: #335 !important;
    border: 2px #77a solid !important;
}

.interval-header {
    font-size: 0.9em;
    font-weight: bold;
    background-color: #443 !important;
    border: 2px #aa7 solid;
    font-family: "Times New Roman", serif;
}

.percent {
    text-align: right !important;
}

.count {
    text-align: right !important;
}