th {
    text-align: center !important;
    vertical-align: bottom !important;
    margin: 0 !important;
    padding: 7px !important;
}

th, td {
    border: 1px #333 solid;
    border-radius: 0 !important;
}

td, tr {
    text-align: left !important;
    margin: 0 !important;
    padding: 2px !important;
    border-radius: 0 !important;
}

fieldset {
    display: inline-block;
    padding: 20px;
}

legend {
    padding: 5px;
}

li {
    padding: 4px;
}

.top-fieldset {
    padding: 10px;
    padding-top: 0;
    margin-top: 0;
}

.dto-header {
    background-color: #355 !important;
}

.run-header {
    background-color: #533 !important;
    border: 2px #a77 solid !important;
}

.test-header {
    background-color: #335 !important;
    border: 2px #77a solid !important;
}

.transparent {
    display:none;
}

.interval-header {
    font-size: 0.9em;
    font-weight: bold;
    background-color: #443 !important;
    border: 2px #aa7 solid;
    font-family: "Times New Roman", serif;
}

.percent {
    text-align: right !important;
}

.count {
    text-align: right !important;
}

dl {
    margin: 0;
    padding: 0;
    border: 0;
}

dt {
    float: left;
    width: 30%;
    text-align: right;
    padding: .2em;
    clear: left;
}
dd {
    float: left;
    width: 60%;
    padding: .2em 0;
}
